body {
  font-family: Arial, sans-serif;
  background-color: #d6d6f5;
  }

#title {
  width: 600px;
  display: block;
  margin: auto;
  text-align: center;
  color: black;
}

#survey-form {
  background-color: #ebebfa;
  width: 600px;
  height: 1000px;
  display: block;
  margin: auto;
}

#description {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: grey;
}

label, p{
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 40%;
  padding: 5px;
  margin: 10px;
  color: grey;
}

input {
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

ul {
  display: inline-block;
  list-style-type: none; /*To remove the bullets*/
  color: grey;
}

.dropdown {
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  color: grey;

}

textarea {
  display: inline-block;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  color: grey;
}

#submit {
  font-size: 24px; color: white;
  background-color: #002b80;
  display: block;
  margin: 30px auto 20px auto;
  width: 150px; height: 50px; border-radius: 10px;

}

#submit:hover {background-color: #0044cc}

#submit:active {
  background-color: #0044cc;
  transform: translateY(4px);
}


@media screen and (orientation: portrait) {
  body {
    background: pink;
  }

  #survey-form{
    width: 100%;
  }


}
